@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Battambang:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Battambang", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-khmer: "Battambang", cursive;
}

@layer base {
  body {
    @apply text-gray-900 antialiased;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
